[submodule "public"]
	path = public
	url = https://github.com/CSaratakij/CSaratakij.github.io.git
	branch = master

[submodule "themes/hugo-theme-codex"]
	path = themes/hugo-theme-codex
	url = https://github.com/CSaratakij/hugo-theme-codex
